/* Colors and font -------------------------- */

:root{
    --main-color: #35a08b;
    --clear-color: #c6ece4;
}

body, td, caption {
    font-size: 16px;
}

tt, code, pre {
    font-family: "Inconsolata", "Andale Mono", monospace;
}

/* Captions --------------------------------- */

caption,
p.caption {
    text-align: left;
    margin-left: 4em;
    margin-right: 0em;
    text-indent: -4em;
    color: inherit;
}

/* Block of quotes -------------------------- */

blockquote {
    font-size: 100%;
    width: 66%;
    margin-left: auto;
    border: none;
    display: block;
    margin: auto;
}

blockquote p {
    font-style: italic;
    text-indent: 0em;
}

blockquote p:last-child {
    text-indent: 0em;
    text-align: right;
    font-style: normal;
    display: inherit;
}

/* References ------------------------------- */

div.references p {
    text-indent: -1em;
    margin-left: 1em;
    text-align: left;
}

/* Hyperlinks ------------------------------- */

a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--main-color);
    text-decoration: underline;
}

/* Navigation menu hyperlinks --------------- */

.nav-stacked > li > a {
    padding: 5px 8px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    color: #fff;
    background-color: var(--main-color);
}

.nav > li > a:focus,
.nav > li > a:hover {
    text-decoration: none;
    background-color: var(--clear-color);
}

/* Table ------------------------------------ */

table a:not(.btn),
.table a:not(.btn) {
    color: var(--main--color);
    text-decoration: none;
}

table.table tbody {
    border-bottom: 2px solid #DDD;
    border-top: 3px solid #DDD;
}

table.table thead {
    border-top: 2px solid #DDD;
}

table.ref-index tbody {
    border-bottom: none;
    border-collapse: unset;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 1px 5px;
}

/* Build status ----------------------------- */

img[alt="Build Status"] {
    display: inherit;
}

/* Lists ------------------------------------ */

ul:not([class]) li {
    list-style: none;
}

ul:not([class]) li:before {
    content: '\25B8';
    margin-left: -1em;
    position: absolute;
}

/*------------------------------------------- */